
.display
{
    width: 1200px;
    margin: auto;
}

.display>h1
{
    margin: 35px 0px 20px 0px;
    padding-bottom: 14px;
    font-size: 22px;
    text-indent: 20px;

    border-bottom: 1.5px solid rgb(180, 180, 180);
}

.display>ul
{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.display>ul>li
{

    margin: 0px 20px 30px 20px;
}
.display>ul>li>a
{
    width: 250px;
    height: 400px;
    padding: 15px;
}
.display>ul>li:hover
{
    box-shadow: 0px 0px 10px rgb(180, 180, 180);
}
.display>ul>li>a>hr
{
    margin: 5px 0px;
    border: none;
    border-bottom: 2px solid rgb(180, 180, 180);
}
.display>ul>li>a>img
{
    width: 220px;
    height: 220px;
    object-fit: cover;
}
.goodsInfo>li:first-child
{
    margin: 10px 0px;
    font-weight: bold;
}
/* .goodsInfo>li:nth-of-type(2)
{
    margin: 5px 0px;
} */
.goodsInfo>li:nth-last-of-type(1)
{
    font-size: 1.1em;
    font-weight: bold;
}
.goodsInfo>li:nth-last-of-type(2) .sale
{
    color: red;
    font-weight: bold;
}
.goodsInfo>li:nth-last-of-type(2) .old
{
    color: gray;
    font-size: 0.9em;
    text-decoration: line-through;
}

#paging
{
    width: 1200px;
    height: auto;
    margin: auto;
}

#paging ul
{
    display: flex;
    justify-content: center;

    width: 400px;
    margin: auto;
}

#paging ul a
{
    font-weight: bold;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
}
#paging ul a.pageNum:hover
{
    text-decoration: underline;
}

.point
{
    color: orange;
}

#paging ul li>a.activ, #paging ul li>a.pageLeft ,#paging ul li>a.pageRight
{
    padding-top: 9px;

}

.activ:hover
{
    color: orange;
}
















